@page "/"

@if (visibleElement == VisibleElement.NewAndOpenWizard)
{
    <NewOrOpenWizard OnNewClickCallback="@CreateNewContainer" OnOpenClickCallback="@OpenExistingContainer" />
}
else if (visibleElement == VisibleElement.CreateNewCommonSecretsContainer)
{
    <CreateNewCommonSecretsContainer OnCancelClickCallback="@CancelNewCommonSecretsContainerCreation" OnCreateClickCallback="@CreateNewCommonSecretsContainerCreation" />
}
else if (visibleElement == VisibleElement.ShowLoginInformations)
{

}
else
{
    <p>Should not be visible!</p>
}


@code {

    public enum VisibleElement
    {
        NewAndOpenWizard,
        CreateNewCommonSecretsContainer,
        OpenExistingCommonSecretsContainer,
        ShowLoginInformations,
    }

    private VisibleElement visibleElement = VisibleElement.NewAndOpenWizard;

    // Wizard
    private void CreateNewContainer(MouseEventArgs e)
    {
        visibleElement = VisibleElement.CreateNewCommonSecretsContainer;
    }

    private void OpenExistingContainer(MouseEventArgs e)
    {
        visibleElement = VisibleElement.OpenExistingCommonSecretsContainer;
    }

    // Create new common secrets container
    private void CancelNewCommonSecretsContainerCreation(MouseEventArgs e)
    {
        visibleElement = VisibleElement.NewAndOpenWizard;
    }

    private void CreateNewCommonSecretsContainerCreation(MouseEventArgs e)
    {

    }
}