
<nav>
	<ul>
		<li><a @onclick="OnLoginsClickCallback">Logins</a></li>
		<li><a @onclick="OnNotesClickCallback">Notes</a></li>
		<li><a @onclick="OnFilesClickCallback">Files</a></li>
		<li><a @onclick="OnContactsClickCallback">Contacts</a></li>
		<li><a @onclick="OnPaymentCardsClickCallback">Payment Cards</a></li>
	</ul>
</nav>

@code {
	[Parameter]
	public EventCallback<MouseEventArgs> OnLoginsClickCallback { get; set; }

	[Parameter]
	public EventCallback<MouseEventArgs> OnNotesClickCallback { get; set; }

	[Parameter]
	public EventCallback<MouseEventArgs> OnFilesClickCallback { get; set; }

	[Parameter]
	public EventCallback<MouseEventArgs> OnContactsClickCallback { get; set; }

	[Parameter]
	public EventCallback<MouseEventArgs> OnPaymentCardsClickCallback { get; set; }
}