
<nav>
	<ul>
		<li>Logins</li>
		<li>Notes</li>
		<li>Files</li>
	</ul>
</nav>

@code {
	[Parameter]
	public EventCallback<MouseEventArgs> OnLoginsClickCallback { get; set; }

	[Parameter]
	public EventCallback<MouseEventArgs> OnNotesClickCallback { get; set; }

	[Parameter]
	public EventCallback<MouseEventArgs> OnFilesClickCallback { get; set; }
}