
<section>
    <p>Create a new</p>
    <p><button @onclick="OnCancelClickCallback">Cancel</button> <button @onclick="OnCreateClickCallback">Create</button></p>
</section>

@code {
    [Parameter]
    public EventCallback<MouseEventArgs> OnCancelClickCallback { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnCreateClickCallback { get; set; }
}