
<nav>
	<ul>
		<li>🎲<a @onclick="SelectRandom">Random</a></li>
		<li>💬<a @onclick="SelectPronounceable">Pronounceable</a></li>
	</ul>
</nav>

@if (showRandom)
{
    <CreateRandomPassword />
}
else
{
    <CreatePronounceablePassword />
}

@code {

    private bool showRandom { get; set; } = true;

    private void SelectRandom()
    {
        showRandom = true;
    }

    private void SelectPronounceable()
    {
        showRandom = false;
    }
}