
<section>
    <aside>
        <h3>Create a new CommonSecrets file</h3>
        <button @onclick="OnNewClickCallback">New...</button>
    </aside>
    <aside>
        <h3>Open an existing CommonSecrets file</h3>
        <button @onclick="OnOpenClickCallback">Open...</button>
    </aside>
    <aside>
        <h3>Just generate passwords</h3>
        <button @onclick="OnGeneratePasswordsCallback">Generate...</button>
    </aside>
</section>

@code {
    [Parameter]
    public EventCallback<MouseEventArgs> OnNewClickCallback { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnOpenClickCallback { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnGeneratePasswordsCallback { get; set; }
}