
<section>
    <aside>
        <h3>Create a new CommonSecrets file</h3>
        <button>New...</button>
    </aside>
    <aside>
        <h3>Open an existing CommonSecrets file</h3>
        <button>Open...</button>
    </aside>
</section>

@code {

}