
<label for="keyidentifier">Key identifier: </label>
<select id="keyidentifier" @onchange="@OnSelect">
    @foreach (string keyIdentifier in PossibleKeyIdentifiers)
    {
        <option value="@keyIdentifier">@keyIdentifier</option>
    }
</select>

@code {
    [Parameter, EditorRequired]
    public IEnumerable<string> PossibleKeyIdentifiers { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<string> KeyIdentifierChanged { get; set; }

    private string keyIdentifier { get; set; } = "";

    protected override void OnInitialized()
    {
        this.keyIdentifier = PossibleKeyIdentifiers.First();
    }

    void OnSelect (ChangeEventArgs e)
    {
        this.keyIdentifier = e.Value.ToString();
        KeyIdentifierChanged.InvokeAsync(this.keyIdentifier);
    }
}