@inject IJSRuntime JS

<table id="notes">
	<thead>
		<tr>
			<th>
				Secure
			</th>
			<th>
				Title
			</th>
			<th>
				Text
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Notes)
        {
			int indexToHandle = item.zeroBasedIndexNumber;
			<tr>
				<th>
					@if (item.IsSecure == true)
					{
						@CommonIcons.secureIcon
					}
					else
					{
						@CommonIcons.unsecureIcon
					}
				</th>
				<th>
					@item.Title <a title="Copy title" @onclick="() => CallTitleCopy(indexToHandle)">✂️</a>
				</th>
				<th>
					@item.Text <a title="Copy text" @onclick="() => CallTextCopy(indexToHandle)">✂️</a>
				</th>
				<th>
					<a title="Delete" @onclick="() => CallDelete(indexToHandle)">🗑️</a>
				</th>
			</tr>
        }
	</tbody>
</table>

<br>

<button title="Add note" @onclick="AddNoteCallback">+ Add</button>
@code {
    [Parameter, EditorRequired]
    public IReadOnlyList<NoteSimplified> Notes { get; set; }

	[Parameter, EditorRequired]
	public EventCallback<MouseEventArgs> AddNoteCallback { get; set; }

	[Parameter, EditorRequired]
	public EventCallback<int> DeleteLoginCallback { get; set; }

	// Copy to clipboard methods
	private async Task CallTitleCopy(int zeroBasedIndexNumber)
	{
		await JS.InvokeVoidAsync("copyToClipboard", Notes[zeroBasedIndexNumber].Title);
	}

	private async Task CallTextCopy(int zeroBasedIndexNumber)
	{
		await JS.InvokeVoidAsync("copyToClipboard", Notes[zeroBasedIndexNumber].Text);
	}

	// Delete method
	private async Task CallDelete(int zeroBasedIndexNumber)
	{
		await DeleteLoginCallback.InvokeAsync(zeroBasedIndexNumber);
	}
}