<table id="notes">
	<thead>
		<tr>
			<th>
				Secure
			</th>
			<th>
				Title
			</th>
			<th>
				Text
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Notes)
        {
			int indexToDelete = item.zeroBasedIndexNumber;
			<tr>
				<th>
					@if (item.IsSecure == true)
					{
						@CommonIcons.secureIcon
					}
					else
					{
						@CommonIcons.unsecureIcon
					}
				</th>
				<th>
					@item.Title
				</th>
				<th>
					@item.Text
				</th>
				<th>
					<a @onclick="() => CallDelete(indexToDelete)">🗑️</a>
				</th>
			</tr>
        }
	</tbody>
</table>

<br>

<button title="Add note" @onclick="AddNoteCallback">+ Add</button>
@code {
    [Parameter, EditorRequired]
    public IReadOnlyList<NoteSimplified> Notes { get; set; }

	[Parameter, EditorRequired]
	public EventCallback<MouseEventArgs> AddNoteCallback { get; set; }

	[Parameter, EditorRequired]
	public EventCallback<int> DeleteLoginCallback { get; set; }

	private async Task CallDelete(int zeroBasedIndexNumber)
	{
		await DeleteLoginCallback.InvokeAsync(zeroBasedIndexNumber);
	}
}